@keyframes fadeUp{
	0%{
		transform: translate(-50%, 80px);
		opacity: 0;
	}
	100%{
		transform: translate(-50%, 0);
		opacity: 1;
	}
}
@keyframes fadeIn {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes stickerRotation {
	0%{
		transform: translateY(var(--transY)) rotateZ(0deg);
	}
	100%{
		transform: translateY(var(--transY)) rotateZ(6deg);
	}
}
@keyframes scale-easeOutElastic {
	0% {
		transform: translateX(-50%) scale(calc(0.65));
	}
	100% {
		transform: translateX(-50%) scale(calc(1 * var(--scaleFactor)));
	}
}
@keyframes dotAni {
	0%{
		transform: scale(0);
	}
	45% {
		transform: scale(0.7);
	}
	66% {
		transform: scale(0.6);
	}
	100%{
		transform: scale(1);
		opacity: 0;
	}
}
@keyframes fading {
	0%{
		opacity: 0;
	}
	30%{
		opacity: 0.9;
	}
	70%{
		opacity: 0.9;
	}
	100%{
		opacity: 0;
	}
}