html, body {
	font-family: "Poppins";
	font-weight: 400;
	background-color: #262721;
	-webkit-overflow-scrolling: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
body{
	overflow: hidden;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}
canvas{
	position: fixed;
	top: 0;
}