.camera_reset_btn{
	position: fixed;
	top: 23px;
	right: 78px;
	width: 26px;
	height: 22px;
	background: #AC451F;
	cursor: pointer;
	clip-path: polygon(0 0, 50% 100%, 100% 0);
	/*z-index: 1002;*/
}
.camera_reset_btn:hover{
	background: #ec4a38;
}

.light_toggle_btn{
	position: fixed;
	top: 0px;
	right: 30px;
	width: 40px;
	height: 50px;
	background: url("../../static/images/home/img_sprite_light.png") left center no-repeat;
	background-size: auto 100%;
	cursor: pointer;
}
.light_toggle_btn:hover{
	background-position: right center;
}
.light_toggle_btn.active::before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 60%);
	width: 35px;
	height: 23px;
	background: linear-gradient(to bottom, #d87c5bcb, transparent);
	clip-path: polygon(30% 0, 70% 0, 100% 100%, 0% 100%);
}


/* GUI */
.lil-gui.autoPlace{
	top: auto;
	bottom: 0;
	left: 15px;
}