/* GUI */
.lil-gui.autoPlace{
	top: auto;
	bottom: 0;
	left: 15px;
}

/* canvas */
.webgl_canvas{
	position: fixed;
	top: 0;
}
.webgl_canvas-scope{
	cursor: url("/images/home/img_cursor_scope.png") 28 28, auto !important;
}

/* Utility */
.utility{
	--mainColor: #AC451F;
	--mainColorHover: #ec4a38;
	position: fixed;
	top: 0;
	right: 42px;
	display: flex;
	width: max-content;
}
[data-theme="nightMode"] .utility{
	--mainColor: #753118;
	--mainColorHover: #aa431e;
}
.utility__cam_reset_btn{
	position: relative;
	width: 26px;
	height: 22px;
	margin-top: 23px;
	margin-right: 10px;
	background: var(--mainColor);
	clip-path: polygon(0 0, 50% 100%, 100% 0);
	transition: all 0.3s;
	cursor: pointer;
}
.utility__cam_reset_btn:hover{
	background: var(--mainColorHover);
}
.utility__theme_btn{
	position: relative;
	top: 0px;
	width: 40px;
	height: 50px;
	cursor: pointer;
}
.utility__theme_icon{
	width: 100%;
	height: 100%;
	fill: var(--mainColor);
	transition: all 0.3s;
}
.utility__theme_icon:hover{
	fill: var(--mainColorHover);
}
.utility__theme_btn::before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 60%);
	width: 35px;
	height: 23px;
	background: linear-gradient(to bottom, #d87c5bcb, transparent);
	clip-path: polygon(30% 0, 70% 0, 100% 100%, 0% 100%);
	transition: opacity 0.3s;
}
[data-theme="nightMode"] .utility__theme_btn::before{
	opacity: 0;
	pointer-events: none;
}

/* Poster Button */
.poster_btn_wrap{
	--bgColor: #f5efe699;
	--bgColorHover: #f5efe6;
	--bgImage: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 50 50'%3e%3cpath fill='%232E2A24' d='m37.7 13.7-1.4-1.4L25 23.6 13.7 12.3l-1.4 1.4L23.6 25 12.3 36.3l1.4 1.4L25 26.4l11.3 11.3 1.4-1.4L26.4 25z'/%3e%3c/svg%3e");
	--txtColor: #2E2A24;
	--txtColorHover: #1b1917;
	display: none;
	position: fixed;
	bottom: 150px;
	left: 50%;
	transform: translate(-50%, 80px);
	opacity: 0;
	transition: all 1s cubic-bezier(0.34, 1.56, 0.64, 1);
}
[data-theme='nightMode'] .poster_btn_wrap{
	--bgColor: #70716a99;
	--bgColorHover: #70716A;
	--bgImage: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 50 50'%3e%3cpath fill='%23CCCBC6' d='m37.7 13.7-1.4-1.4L25 23.6 13.7 12.3l-1.4 1.4L23.6 25 12.3 36.3l1.4 1.4L25 26.4l11.3 11.3 1.4-1.4L26.4 25z'/%3e%3c/svg%3e");
	--txtColor: #CCCBC6;
	--txtColorHover: #e2e1db;
}
.poster_btn{
	display: block;
	padding: 16px 78px;
	border-radius: 45px;
	background-color: var(--bgColor);
	transition: all 0.3s;
	text-align: center;
	font-size: 16px;
	color: var(--txtColor);
	cursor: pointer;
	width: max-content;
}
.poster_btn:hover{
	background-color: var(--bgColorHover);
	color: var(--txtColorHover);
}
.poster_btn_wrap.active
{
	transform: translate(-50%, 0);
	opacity: 1;
	transition-delay: 0.5s;
}
.poster_btn__title{
	width: max-content;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
}
.poster_cls_btn{
	position: absolute;
	bottom: -70px;
	left: 50%;
	transform: translateX(-50%);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: var(--bgColor) var(--bgImage) center no-repeat;
	background-size: 50px auto;
	cursor: pointer;
	transition: all 0.3s;
}
.poster_cls_btn:hover{
	background-color: var(--bgColorHover);
}
.mission{
	--mainColor: #c5c2bd;
	--bgColor: #2e2a24d2;
	--bgColorClosed: #AC451F;
	position: fixed;
	top: 16px;
	left: -92px;
	transition: transform 1.5s cubic-bezier(0.34, 1.56, 0.64, 1);
	pointer-events: none;
}
[data-theme="nightMode"] .mission{
	--mainColor: #c5c2bd;
	--bgColor: #70716a99;
	--bgColorClosed: #753118;
}
.mission-closed{
	transform: translateX(calc( -100% + 36px + 92px ));
}
.mission__container{
	display: flex;
	padding: 8px 0 8px 100px;
	background-color: var(--bgColor);
	color: var(--mainColor);
	cursor: default;
	transition: background-color 1s;
	transition-delay: 0s;
	border-bottom-right-radius: 24px;
}
.mission-closed .mission__container{
	background-color: var(--bgColorClosed);
	transition-delay: 1s;
}
.mission__outer_box
{
	position: relative;
	padding: 8px;
	border: 1px solid #c7c2bca6;
}
.mission__box{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0 20px;
	flex-wrap: wrap;
}
.mission__contents{
	width: max-content;
}
.mission__title{
	font-size: 15px;
}
.mission__text{
	margin-left: 12px;
	margin-bottom: 8px;
	font-size: 14px;
	font-weight: 300;
}
.mission__img{
	flex: none;
	width: 158px;
	height: 176px;
	background: url("/images/home/img_wanted.png") center no-repeat;
	background-size: auto 100%;
	opacity: 0.8;
}
.mission__btn{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
	margin-top: 12px;
	background-color: var(--mainColor);
	font-size: 22px;
	font-weight: 700;
	color: #4e413b;
	cursor: pointer;
	letter-spacing: 3px;
	opacity: 0.8;
	transition: all 0.2s ease-out;
	pointer-events: all;
	/*border-radius: 25px;*/
}
.mission__btn:hover{
	opacity: 1;
	color: #AC451F;
}
.mission__toggle{
	position: relative;
	width: 40px;
	cursor: pointer;
	pointer-events: all;
}
.mission__toggle_wrap{
	position: absolute;
	top: 100%;
	right: 0;
	display: flex;
	align-items: center;
	width: max-content;
	font-size: 17px;
	font-weight: 400;
	transform: translate(-6px, -93px) rotate(90deg);
	transform-origin: top right;
	letter-spacing: 1.5px;
}
.mission__toggle_wrap::after{
	content: "MISSION BRIEF";
}
.mission__toggle_btn{
	display: flex;
	gap: 0 10px;
	margin-left: 10px;
}
.mission__toggle_arrow{
	width: 12px;
	height: 20px;
	margin-right: 10px;
	background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 12 20'%3e%3cpath fill='%23c5c2bd' d='m1.9 17.9-.8-.8 7.7-7.6-7.7-7.6.8-.8 8.3 8.4z'/%3e%3c/svg%3e") center no-repeat;
	background-size: 100% auto;
	transform: rotate(90deg);
	transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.mission-closed .mission__toggle_arrow{
	transform: rotate(-90deg);
}

/* MISSION_COMPLETE */
.mission_complete{
	display: none;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 100%);
	width: max-content;
	font-size: 45px;
	color: #c7c2bc;
	font-weight: 600;
	transition: all 1s 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
	letter-spacing: 3px;
	pointer-events: none;
}

/* Info */
.info{
	--bgColor: #2e2a24d2;
	--color: #c5c2cb;
	--colorTitle: #AC451F;
	position: fixed;
	bottom: 26px;
	right: 24px;
}
.info__btn{
	width: 24px;
	height: 24px;
	background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 24 24'%3e%3cg fill='white'%3e%3cpath d='M12 1.4C6.2 1.4 1.4 6.2 1.4 12c0 4.2 2.5 8.1 6.5 9.7 5.4 2.2 11.6-.5 13.8-5.9 2.1-5.3-.3-11.3-5.5-13.6-1.4-.5-2.8-.8-4.2-.8M12 0c6.6 0 12 5.4 12 12s-5.4 12-12 12S0 18.6 0 12 5.4 0 12 0'/%3e%3ccircle cx='12' cy='7.7' r='1.6'/%3e%3cpath d='M12 19.1c-.5 0-.9-.4-.9-.9v-6.6c0-.5.4-.9.9-.9s.9.4.9.9v6.6c0 .4-.4.9-.9.9'/%3e%3c/g%3e%3c/svg%3e") center no-repeat;
	background-size: 100% auto;
	cursor: pointer;
	opacity: 0.5;
	transition: opacity 0.3s;
}
.info__btn:hover{
	opacity: 1;
}
.info__btn:hover + .info__container{
	opacity: 1;
}
.info__container{
	position: absolute;
	bottom: 100%;
	right: 0;
	width: 300px;
	padding: 8px;
	box-sizing: border-box;
	background-color: var(--bgColor);
	color: var(--color);
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.3s ease-out;
}
.info-open .info__btn{
	opacity: 0;
	pointer-events: none;
}
.info__box{
	padding: 15px;
	border: 1px solid #c7c2bca6;
}
.info__guid_tit{
	font-size: 15px;
	font-weight: 700;
	color: var(--colorTitle);
}
.info__guid_text {
    margin-left: 12px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 300;
}
.info__credit{
	margin-top: 12px;
}