/* GUI */
.lil-gui.autoPlace{
	top: auto;
	bottom: 0;
	left: 15px;
}

@keyframes fadeUp{
	0%{
		transform: translate(-50%, 80px);
		opacity: 0;
	}
	100%{
		transform: translate(-50%, 0);
		opacity: 1;
	}
}
.utility{
	position: fixed;
	top: 0;
	right: 42px;
	display: flex;
	width: max-content;
}
.utility__cam_reset_btn{
	position: relative;
	width: 26px;
	height: 22px;
	margin-top: 23px;
	margin-right: 10px;
	background: #AC451F;
	clip-path: polygon(0 0, 50% 100%, 100% 0);
	transition: all 0.3s;
	cursor: pointer;
}
.utility__cam_reset_btn:hover{
	background: #ec4a38;
}
[data-theme="nightMode"] .utility__cam_reset_btn{
	background: #753118;
}
[data-theme="nightMode"] .utility__cam_reset_btn:hover{
	background: #aa431e;
}
.utility__theme_btn{
	position: relative;
	top: 0px;
	width: 40px;
	height: 50px;
	cursor: pointer;
}
.utility__theme_icon{
	width: 100%;
	height: 100%;
	fill: #AC451F;
	transition: all 0.3s;
}
.utility__theme_icon:hover{
	fill: #ec4a38;
}
[data-theme="nightMode"] .utility__theme_icon{
	fill: #753118;
}
[data-theme="nightMode"] .utility__theme_icon:hover{
	fill: #aa431e;
}
[data-theme="dayMode"] .utility__theme_btn::before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 60%);
	width: 35px;
	height: 23px;
	background: linear-gradient(to bottom, #d87c5bcb, transparent);
	clip-path: polygon(30% 0, 70% 0, 100% 100%, 0% 100%);
}
.poster_btn_wrap{
	display: none;
	position: fixed;
	bottom: 150px;
	left: 50%;
	transform: translate(-50%, 80px);
	opacity: 0;
	transition: all 1s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.poster_btn{
	display: block;
	padding: 16px 78px;
	border-radius: 45px;
	background-color: #f5efe699;
	transition: all 0.3s;
	text-align: center;
	font-size: 16px;
	color: #2E2A24;
	cursor: pointer;
	width: max-content;
}
.poster_btn:hover{
	background-color: #f5efe6;
	color: #1b1917;
}
.poster_btn_wrap.active
{
	transform: translate(-50%, 0);
	opacity: 1;
	transition-delay: 0.5s;
}
.poster_btn__title{
	width: max-content;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
}
[data-theme='nightMode'] .poster_btn
{
	background-color: #70716a99;
	color: #CCCBC6;
}
[data-theme='nightMode'] .poster_btn:hover{
	background-color: #70716A;
	color: #e2e1db;
}
.poster_cls_btn{
	position: absolute;
	bottom: -70px;
	left: 50%;
	transform: translateX(-50%);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #f5efe699 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 50 50'%3e%3cpath fill='%232E2A24' d='m37.7 13.7-1.4-1.4L25 23.6 13.7 12.3l-1.4 1.4L23.6 25 12.3 36.3l1.4 1.4L25 26.4l11.3 11.3 1.4-1.4L26.4 25z'/%3e%3c/svg%3e") center no-repeat;
	background-size: 50px auto;
	cursor: pointer;
	transition: all 0.3s;
}
.poster_cls_btn:hover{
	background-color: #f5efe6;
}
[data-theme='nightMode'] .poster_cls_btn{
	background: #70716a99 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 50 50'%3e%3cpath fill='%23CCCBC6' d='m37.7 13.7-1.4-1.4L25 23.6 13.7 12.3l-1.4 1.4L23.6 25 12.3 36.3l1.4 1.4L25 26.4l11.3 11.3 1.4-1.4L26.4 25z'/%3e%3c/svg%3e") center no-repeat;
}
[data-theme='nightMode'] .poster_cls_btn:hover{
	background-color: #70716A;
}

@media only screen and (max-width: 768px) {
	.poster_btn_wrap{
		bottom: 80px;
	}
	.poster_btn{
		padding: 12px 36px;
		font-size: 14px;
	}
	.poster_btn__title{
		font-size: 19px;
	}
	.poster_cls_btn{
		bottom: -54px;
		transform: translateX(-50%) scale(0.8);
	}
}


.mission{
	position: fixed;
	top: 16px;
	left: -92px;
	transition: transform 1.5s cubic-bezier(0.34, 1.56, 0.64, 1);
	/*pointer-events: none;*/
}
.mission-closed{
	transform: translateX(calc( -100% + 52px + 92px ));
}
.mission__container{
	display: flex;
	padding: 8px 0 8px 100px;
	background-color: #292827d0;
	color: #a8a6a4;
	cursor: default;
}
.mission__outer_box
{
	width: max-content;
	padding: 8px 12px;
	border: 1px solid #a8a6a4;
}
.mission__box{
	display: flex;
	gap: 0 20px;
}
.mission__title{
	font-size: 15px;
	font-weight: 600;
}
.mission__text{
	margin-left: 12px;
	margin-bottom: 8px;
	font-size: 14px;
}
.mission__img{
	/*flex: none;*/
	width: 146px;
	height: 162px;
	background: url("../../static/images/home/img_wanted.png") center no-repeat;
	background-size: 100% auto;
}
.mission__btn{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
	margin-top: 12px;
	background-color: #a8a6a4;
	font-size: 22px;
	font-weight: 700;
	color: #292827;
	cursor: pointer;
	transition: color 0.2s ease-out;
	letter-spacing: 3px;
}
.mission__btn:hover{
	color: #9b0808;
}
.mission__toggle{
	position: relative;
	width: 52px;
	cursor: pointer;
}
.mission__toggle_wrap{
	position: absolute;
	top: 100%;
	right: 0;
	display: flex;
	align-items: center;
	width: max-content;
	font-size: 20px;
	font-weight: 500;
	transform: translate(-6px, -90px) rotate(90deg);
	transform-origin: top right;
}
.mission__toggle_btn{
	display: flex;
	gap: 0 10px;
	margin-left: 10px;
}
.mission__toggle_arrow{
	width: 12px;
	height: 20px;
	margin-right: 10px;
	background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 12 20'%3e%3cpath fill='%23a8a6a4' d='m1.9 17.9-.8-.8 7.7-7.6-7.7-7.6.8-.8 8.3 8.4z'/%3e%3c/svg%3e") center no-repeat;
	background-size: 100% auto;
	transform: rotate(90deg);
	transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.mission__toggle_arrow:nth-child(1){
	transition-delay: 0.4s;
}
.mission__toggle_arrow:nth-child(2){
	transition-delay: 0.45s;
}
.mission__toggle_arrow:nth-child(3){
	transition-delay: 0.5s;
}
.mission-closed .mission__toggle_arrow{
	transform: rotate(-90deg);
}


/*
** MISSION_COMPLETE
 */
.mission_complete{
	display: none;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 100%);
	width: max-content;
	font-size: 45px;
	color: #CCCBC6;
	font-weight: 700;
	transition: all 1s cubic-bezier(0.34, 1.56, 0.64, 1);
}