.camera_reset_btn{
	position: fixed;
	top: 23px;
	right: 78px;
	width: 26px;
	height: 22px;
	background: #AC451F;
	cursor: pointer;
	clip-path: polygon(0 0, 50% 100%, 100% 0);
	transition: all 0.3s;
}
.camera_reset_btn:hover{
	background: #ec4a38;
}
[data-theme="nightMode"] .camera_reset_btn{
	background: #753118;
}
[data-theme="nightMode"] .camera_reset_btn:hover{
	background: #aa431e;
}
.light_toggle_btn{
	position: fixed;
	top: 0px;
	right: 30px;
	width: 40px;
	height: 50px;
	cursor: pointer;
}
.light_toggle_icon{
	width: 100%;
	height: 100%;
	fill: #AC451F;
	transition: all 0.3s;
}
[data-theme="dayMode"] .light_toggle_icon:hover{
	fill: #ec4a38;
}
[data-theme="nightMode"] .light_toggle_icon{
	fill: #753118;
}
[data-theme="nightMode"] .light_toggle_icon:hover{
	fill: #aa431e;
}
[data-theme="dayMode"] .light_toggle_btn::before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 60%);
	width: 35px;
	height: 23px;
	background: linear-gradient(to bottom, #d87c5bcb, transparent);
	clip-path: polygon(30% 0, 70% 0, 100% 100%, 0% 100%);
}

.interaction_btn{
	position: fixed;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	display: none;
	align-items: center;
	padding: 4px 16px;
	height: 50px;
	border: 1px solid #000000;
	border-radius: 6px;
	background-color: #FFFFFF10;
	color: #FFFFFF;
	font-size: 16px;
	cursor: pointer;
}

/* GUI */
.lil-gui.autoPlace{
	top: auto;
	bottom: 0;
	left: 15px;
}