@keyframes fadeUp{
	0%{
		transform: translate(-50%, 80px);
		opacity: 0;
	}
	100%{
		transform: translate(-50%, 0);
		opacity: 1;
	}
}
.camera_reset_btn{
	position: fixed;
	top: 23px;
	right: 78px;
	width: 26px;
	height: 22px;
	background: #AC451F;
	cursor: pointer;
	clip-path: polygon(0 0, 50% 100%, 100% 0);
	transition: all 0.3s;
}
.camera_reset_btn:hover{
	background: #ec4a38;
}
[data-theme="nightMode"] .camera_reset_btn{
	background: #753118;
}
[data-theme="nightMode"] .camera_reset_btn:hover{
	background: #aa431e;
}
.light_toggle_btn{
	position: fixed;
	top: 0px;
	right: 30px;
	width: 40px;
	height: 50px;
	cursor: pointer;
}
.light_toggle_icon{
	width: 100%;
	height: 100%;
	fill: #AC451F;
	transition: all 0.3s;
}
.light_toggle_icon:hover{
	fill: #ec4a38;
}
[data-theme="nightMode"] .light_toggle_icon{
	fill: #753118;
}
[data-theme="nightMode"] .light_toggle_icon:hover{
	fill: #aa431e;
}
[data-theme="dayMode"] .light_toggle_btn::before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 60%);
	width: 35px;
	height: 23px;
	background: linear-gradient(to bottom, #d87c5bcb, transparent);
	clip-path: polygon(30% 0, 70% 0, 100% 100%, 0% 100%);
}
.poster_btn_wrap{
	/*display: none;*/
	position: fixed;
	bottom: 150px;
	left: 50%;
	/*transform: translate(-50%, 80px);*/
	/*opacity: 0;*/
	transition: all 1s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.poster_btn{
	display: block;
	padding: 16px 78px;
	border-radius: 45px;
	background-color: #f5efe699;
	transition: all 0.3s;
	text-align: center;
	font-size: 16px;
	color: #2E2A24;
	cursor: pointer;
	/*width: max-content;*/
}
.poster_btn:hover{
	background-color: #f5efe6;
	color: #1b1917;
}
.poster_btn_wrap.active
{
	transform: translate(-50%, 0);
	opacity: 1;
	transition-delay: 0.5s;
}
.poster_btn__title{
	width: max-content;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
}
[data-theme='nightMode'] .poster_btn
{
	background-color: #70716a99;
	color: #CCCBC6;
}
[data-theme='nightMode'] .poster_btn:hover{
	background-color: #70716A;
	color: #e2e1db;
}
.poster_cls_btn{
	position: absolute;
	bottom: -70px;
	left: 50%;
	transform: translateX(-50%);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #f5efe699 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 50 50'%3e%3cpath fill='%232E2A24' d='m37.7 13.7-1.4-1.4L25 23.6 13.7 12.3l-1.4 1.4L23.6 25 12.3 36.3l1.4 1.4L25 26.4l11.3 11.3 1.4-1.4L26.4 25z'/%3e%3c/svg%3e") center no-repeat;
	background-size: 50px auto;
	cursor: pointer;
	transition: all 0.3s;
}
.poster_cls_btn:hover{
	background-color: #f5efe6;
}
[data-theme='nightMode'] .poster_cls_btn{
	background: #70716a99 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 50 50'%3e%3cpath fill='%23CCCBC6' d='m37.7 13.7-1.4-1.4L25 23.6 13.7 12.3l-1.4 1.4L23.6 25 12.3 36.3l1.4 1.4L25 26.4l11.3 11.3 1.4-1.4L26.4 25z'/%3e%3c/svg%3e") center no-repeat;
}
[data-theme='nightMode'] .poster_cls_btn:hover{
	background-color: #70716A;
}
/* GUI */
.lil-gui.autoPlace{
	top: auto;
	bottom: 0;
	left: 15px;
}