.landing{
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100vh;
	z-index: 10;
	background-color: #141412;
	transition: opacity 1s ease-out 1.8s;
	opacity: 1;
}
.landing__opening{
	position: absolute;
	left: 0;
	width: 100%;
	height: 50%;
	background-color: #141412;
	z-index: 3;
	transition: 1s 0.8s ease-out;
}
.landing__opening-top{
	top: 0;
	transform: translateY(-100%);
}
.landing__opening-bottom{
	bottom: 0;
	transform: translateY(100%);
}
.landing__box{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 70%;
}
.landing__content{
	position: relative;
	height: 100%;
	background: linear-gradient(#3B3B34, #1B1C17) ;
}
.landing__asset_group{
	position: absolute;
	bottom: 264px;
	display: flex;
	width: 100%;
}
.landing__gun{
	flex-shrink: 0;
	margin-left: 70px;
	width: 200px;
	height: 60px;
	background: url('/images/landing/img_gun.png') center no-repeat;
	background-size: contain;
}
.landing__bullet_way{
	position: relative;
	width: 100%;
}
.landing__bullet{
	position: absolute;
	top: 17px;
	left: 10px;
	opacity: 0;
	z-index: 2;
	width: calc(100% - 32px);
	height: 6px;
	background: url('/images/landing/img_bullet.png') no-repeat;
	background-position: left 0 center;
	background-size: auto 100%;
	transition: transform 1s, opacity 0.3s ease-out;
}
.landing__bullet_line{
	position: absolute;
	top: 19px;
	left: 2px;
	width: 100%;
	height: 2px;
	background-image: linear-gradient(to right, #615f5f, #7e2f1e);
	z-index: 1;
	transform: scaleX(0);
	transform-origin: left center;
	transition: transform 1s;
}
.landing__can{
	flex-shrink: 0;
	margin-right: 100px;
	width: 40px;
	height: 40px;
	background-image: url('/images/landing/img_can.png');
	background-position:center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: background-image 0.2s 0.3s ease-out;
}
.landing__rock_group{
	position: absolute;
	bottom: -10px;
	width: 100%;
	display: flex;
}
.landing__rock{
	position: absolute;
	bottom: 0;
}
.landing__rock-left{
	left: 0;
	width: 500px;
	height: 310px;
	background: url('/images/landing/img_rock_left.png') center no-repeat;
	background-size: cover;
}
.landing__rock-right{
	right: 0;
	width: 575px;
	height: 315px;
	margin-left: auto;
	background: url('/images/landing/img_rock_right.png') center no-repeat;
	background-size: cover;
}
.landing__subtitle{
	position: absolute;
	bottom: 4%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 30px;
	font-style: italic;
	font-weight: 400;
	color: #656561;
	animation: fadeIn 0.5s ease-in both;
	transition: color 0.3s;
}
@keyframes fadeIn {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@media screen and (max-width : 800px) {
	.landing__box{
		aspect-ratio: 1.3;
		height: auto;
	}
	.landing__subtitle{
		font-size: 20px;
	}
	.landing__gun{
		width: 120px;
		margin-left: 20px;
	}
	.landing__can{
		width: 32px;
		margin-right: 42px;
	}
	.landing__bullet_line{
		top: 22px;
	}
	.landing__bullet{
		width: calc(100% - 23px);
		height: 4px;
		top: 21px;
	}
	.landing__asset_group{
		bottom: 112px;
	}
	.landing__rock{
		transform: scale(0.5);
		transform-origin: left bottom;
	}
	.landing__rock-right{
		transform-origin: right bottom;
	}

}