.landing{
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100vh;
	z-index: 10;
	background-color: #000000;
	transition: opacity 1s ease-out 2.5s;
	opacity: 1;
}

.landing__opening{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	z-index: 3;
	transition: 1s ease-in 1s;
}

.landing__opening-top{
	transform: translateY(-100%);
}
.landing__opening-bottom{
	transform: translateY(100%);

}
.landing__box{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 70%;
}

.landing__content{
	position: relative;
	height: 100%;
	background: linear-gradient(#3B3B34, #1B1C17) ;
}
.landing__asset_group{
	position: absolute;
	bottom: 264px;
	display: flex;
	width: 100%;
}
.landing__gun{
	margin-left: 70px;
	width: 200px;
	height: 60px;
	background: url('/images/landing/img_gun.png') center no-repeat;
	background-size: cover;
}
.landing__bullet_way{
	position: relative;
	width: 100%;
}
.landing__bullet{
	position: absolute;
	top: 17px;
	left: 10px;
	opacity: 0;
	z-index: 2;
	width: calc(100% - 26px);
	height: 6px;
	background: url('/images/landing/img_bullet.png') no-repeat;
	background-position: left 0 center;
	background-size: auto 100%;
	transition: transform 2s, opacity 0.3s ease-out;
}
.landing__bullet_line{
	position: absolute;
	top: 19px;
	left: 2px;
	width: 100%;
	height: 2px;
	background-color: #7e2f1e;
	z-index: 1;
	transform: scaleX(0);
	transform-origin: left center;
	transition: transform 2s;
}
.landing__can{
	flex-shrink: 0;
	margin-right: 100px;
	width: 40px;
	height: 40px;
	background-image: url('/images/landing/img_can.png');
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: 0.2s 0.8s ease-out;
}
.landing__rock_group{
	position: absolute;
	bottom: -10px;
	width: 100%;
	display: flex;
}
.landing__rock{
	display: flex;
}
.landing__rock{
	width: 500px;
	height: 310px;
	background: url('/images/landing/img_rock_left.png') center no-repeat;
	background-size: cover;
}
.landing__rock-right{
	width: 575px;
	height: 315px;
	margin-left: auto;
	background: url('/images/landing/img_rock_right.png') center no-repeat;
	background-size: cover;
}
.landing__subtitle_wrap{
	position: absolute;
	bottom: 4%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 38px;
	font-style: italic;
	font-weight: 500;
	color: #B4B4B4;
	animation: fadeIn 0.5s ease-in both;
	white-space: nowrap;
}
.landing__subtitle_side{
	transition: all 0.3s ease-in;
}
@keyframes fadeIn {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@media screen and (max-width : 800px) {
	.landing__subtitle_wrap{
		font-size: 20px;
	}
	.landing__box{
		height: 33%;
	}
	.landing__area-left{
		transform-origin: left bottom;
		transform: scale(40%);
	}
	.landing__area-right{
		transform-origin: right bottom;
		transform: scale(40%);
	}
	.landing__bullet{
		width: 10.4px;
		height: 2.4px;
	}
}