@media screen and (max-width : 800px) {
	.landing__box{
		aspect-ratio: 1.3;
		height: auto;
	}
	.landing__subtitle{
		font-size: 20px;
	}
	.landing__gun{
		width: 120px;
		margin-left: 20px;
	}
	.landing__can{
		width: 32px;
		margin-right: 42px;
	}
	.landing__bullet_line{
		top: 22px;
	}
	.landing__bullet{
		width: calc(100% - 23px);
		height: 4px;
		top: 21px;
	}
	.landing__asset_group{
		bottom: 112px;
	}
	.landing__rock{
		transform: scale(0.5);
		transform-origin: left bottom;
	}
	.landing__rock-right{
		transform-origin: right bottom;
	}

}