:root{
	--rotateFactor: 135deg;
	--scaleFactor: 0.7
}

.poster {
	/*min-height: 100vh;*/
	box-sizing: border-box;
	background-color: #DEDFD9;
}
.home{
	padding: 36px 0 0 36px;
}
.home__btn{
	display: block;
	width: 60px;
	height: 60px;
	/*margin: 36px 0 0 36px;*/
	background: url("../../static/images/poster/img_logo.png") center no-repeat;
	background-size: 100% auto;
}
.ticket{
	width: 100%;
	height: calc(100vh - 96px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.ticket__inspired{
	width: 600px;
	height: auto;
	margin-top: -160px;
	margin-bottom: 50px;
}

.ticket__envelope{
	position: relative;
	width: 956px;
	height: 400px;
	background: linear-gradient(to bottom, #272825 ,#1c1d1c);
	filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, 0.3));
	transform-style: preserve-3d;
	perspective: 9999px;
}

.ticket__envelope-open .ticket__envelope_top_wrap{
	transition-delay: 0s;
	transform: rotateX(var(--rotateFactor));
}
.ticket__envelope_top_wrap{
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
	transition: transform 1s ease-in;
	transform-origin: top;
	transition-delay: 0.3s;
}
@property --deg {
  syntax: '<angle>';     /* <angle>, <number>, <length> 등 가능 */
  inherits: false;
  initial-value: 135deg;
}
.ticket__envelope-open .ticket__envelope_top{
	--deg: 0deg;
	transition-delay: 0.3s;
}

.ticket__envelope_top{
	width: 100%;
	height: 300px;
	background: linear-gradient(var(--deg),#53554c, #2c2d29);
	clip-path: polygon(100% 0, 100% 70%, 50% 100%, 0 70%, 0 0);
	transition: --deg 1s;
	transition-delay: 0.8s;
}
.ticket__envelope-open .ticket__envelope_sticker{
	animation: none;
	backface-visibility: hidden;
}
.ticket__envelope_sticker{
	--transY: 0;
	width: 124px;
	height: 124px;
	margin: -66px auto 0;
	border-radius: 50%;
	background: #D4D5CF url("../../static/images/poster/img_ticket_sticker.png") center center no-repeat;
	background-size: 100% 100%;
	transform: rotateZ(8deg);
	cursor: pointer;
	animation: stickerRotation 0.5s ease-in-out infinite alternate;
}
.ticket__envelope-open .ticket__envelope_bottom{
	--deg: 180deg;
	transition-delay: 0.3s;
	transform: rotateX(calc(var(--rotateFactor) * -1));
}
.ticket__envelope_bottom{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 200px;
	background: linear-gradient(var(--deg), #464741,#212220);
	z-index: 1;
	transition: transform 0.7s ease-in, --deg 1s;
	transform-origin: bottom;
}
@keyframes stickerRotation {
	0%{
		transform: translateY(var(--transY)) rotateZ(0deg);
	}
	100%{
		transform: translateY(var(--transY)) rotateZ(6deg);
	}
}
@keyframes scale-easeOutElastic {
	0% {
		transform: translateX(-50%) scale(calc(0.65));
	}

	/*56% {
		transform: translateX(-50%) scale(calc(1.1 * var(--scaleFactor)));
	}*/

	/*28% {
		transform: translateX(-50%) scale(calc(0.95 * var(--scaleFactor)));
	}

	44% {
		transform: translateX(-50%) scale(calc(1.05 * var(--scaleFactor)));
	}*/

	100% {
		transform: translateX(-50%) scale(calc(1 * var(--scaleFactor)));
	}
}

@keyframes test {
	0%{
		transform: translateX(0);
	}
	100%{
		transform: translateX(100px);
	}
}
.anitest{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 300px;
	aspect-ratio: 1;
	background-color: red;
	z-index: 100;
	transition: transform 1s ease-in;
}

.anitest.add{
	animation: test 1s ease-in forwards;
}

.ticket__envelope-open .ticket__paper{
	/*transform: translateX(-50%) scale(1);*/
	/*transition: transform 0.65s 7s cubic-bezier(.36,0,.66,-0.56);*/
	animation: scale-easeOutElastic 1.2s 0.7s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
	will-change: transform;
}
.ticket__paper{
	position: absolute;
	top: 24px;
	left: 50%;
	/*display: none;*/
	display: flex;
	width: 1280px;
	height: 320px;
	transform: translateX(-50%) scale(0);
	transition: transform 0.65s 0.4s ease-in;
	z-index: 5;
	filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, 0.3));
	z-index: 0;
	overflow: hidden;
}
.ticket__paper_texture{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 16px;
	background: url('../../static/images/poster/img_paper_texture.jpg') no-repeat;
	background-size: cover;
	mix-blend-mode: multiply;
	filter: contrast(0.95) brightness(1.05); 
	z-index: 1;
	pointer-events: none;
}
.ticket__info_wrap{
	position: relative;
	width: 100%;
	display: flex;
	border-radius: 16px;
	background-color: #ECEEE7;
}
.ticket__info_thumbnail{
	position: relative;
	max-width: 606px;
}
.ticket__info_thumbnail::after{
	content: "";
	position: absolute;
	top: 10px;
	right: 10px;
	width: calc(100% - 52px);
	height: calc(100% - 20px);
	border: 1px solid rgba(255, 255, 255, 0.7);
	border-radius: 12px 0 0 12px;
}
.ticket__info_thumbnail_img{
	width: 100%;
	height: auto;
	object-fit: cover;
}
.ticket__info_actor{
	position: absolute;
	bottom: 0;
	left: 0;
	transform: rotate(-90deg) translate(calc((320px - 100%) / 2), calc(100% + 4px));
	transform-origin: bottom left;
}
.ticket__info_detail{
	display: flex;
	flex-direction: column;
	margin: 12px 28px 18px 28px;
	color: #202020;
}
.ticket__title{
	width: 393px;
	height: auto;
}
.ticket__text_info_wrap{
	margin-top: 40px;
	font-size: 16px;
}
.ticket__info_genre{
	font-size: 16px;
	font-weight: 700;
	margin-top: 36px;
}
.ticket__info_text_wrap{
	display: grid;
	grid-template-columns: 140px 140px;
	gap: 4px 16px;
	margin-top: 4px;
}
.ticket__info_text_title{
	font-weight: 700;
	font-size: 16px;
}
.ticket__info_text_content{
	margin-top: 2px;
	font-size: 16px;
}
.ticket__hashtag_wrap{
	display: flex;
	gap: 8px;
	margin-top: auto;
}
.ticket__hashtag{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 21px;
	padding: 0 6px;
	box-sizing: border-box;
	border: 1px solid #202020;
	border-radius: 18px;
	font-size: 12px;
	font-weight: 500;
}
.ticket__barcode{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 160px;
	height: 100%;
	writing-mode: sideways-lr;
	-webkit-writing-mode: sideways-lr;
	text-orientation: sideways;
	background-color: #B18868;
	border-radius: 16px;
	cursor: pointer;
}
.ticket__barcode::after{
	content: "";
	position: absolute;
	top: 16px;
	left: -1px;
	width: 2px;
	height: calc(100% - 32px);
	background: linear-gradient(to bottom, #96745b 50%, transparent 50%) repeat;
	background-size: 2px 10px;
}
.ticket__netflix{
	margin-left: 4px;
	font-size: 35px;
	font-weight: 700;
	color: #FFFFFF;
}
.ticket__barcode_text{
	margin-left: 8px;
	font-size: 13px;
	color: #202020;
}
.ticket__barcode_img{
	width: 40px;
	height: auto;
}
.ticket__envelope-open .ticket__close{
	display: block;
	opacity: 1;
	transition: opacity 1s 1.2s ease-in;
	cursor: pointer; 
	pointer-events: auto;
}
.ticket__close{
	display: none;
	position: absolute;
	bottom: 8px;
	left: 50%;
	transform: translate(-50%);
	width: 30px;
	height: 30px;
	background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 24 24"><g fill="%2384877C"><path d="M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.6 0 12 0zm0 22C6.5 22 2 17.5 2 12S6.5 2 12 2s10 4.5 10 10-4.5 10-10 10z"/><path d="M18 6.1c-.4-.4-1-.4-1.4 0L12 10.6 7.5 6.1c-.4-.4-1-.4-1.4 0s-.4 1 0 1.4l4.5 4.5-4.5 4.5c-.4.4-.4 1 0 1.4.2.2.5.3.7.3s.5-.1.7-.3l4.5-4.5 4.5 4.5c.2.2.5.3.7.3s.5-.1.7-.3c.4-.4.4-1 0-1.4L13.5 12 18 7.5c.4-.4.4-1 0-1.4z"/></g></svg>') center no-repeat;
	background-size: 30px;
	pointer-events: none;
	opacity: 0;
}
.ticket__close:hover{
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 24 24"><g fill="%23D2D2D2"><path d="M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.6 0 12 0zm0 22C6.5 22 2 17.5 2 12S6.5 2 12 2s10 4.5 10 10-4.5 10-10 10z"/><path d="M18 6.1c-.4-.4-1-.4-1.4 0L12 10.6 7.5 6.1c-.4-.4-1-.4-1.4 0s-.4 1 0 1.4l4.5 4.5-4.5 4.5c-.4.4-.4 1 0 1.4.2.2.5.3.7.3s.5-.1.7-.3l4.5-4.5 4.5 4.5c.2.2.5.3.7.3s.5-.1.7-.3c.4-.4.4-1 0-1.4L13.5 12 18 7.5c.4-.4.4-1 0-1.4z"/></g></svg>');
}

.board{
	margin-top: 60px;
	padding-bottom: 96px;
	background: linear-gradient(to right, #B9BBB2 1px, transparent 1px) repeat, linear-gradient(to bottom, #B9BBB2 1px, transparent 1px) repeat, #9FA291;
	background-size: 30px 100%, 100% 30px;

}
.board__title_wrap{
	position: relative;
	width: max-content;
	margin: 0 auto;
	transform: translateY(-50px);
}
.board__title{
	display: block;
	width: 850px;
	height: auto;
}
.board__title_texture{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('../../static/images/poster/img_paper_texture.jpg') left -10px center no-repeat;
	background-size: 110% auto;
	mix-blend-mode: multiply;
	filter: contrast(0.95) brightness(1.07);
	z-index: 1;
	pointer-events: none;
}
.board__area{
	position: relative;
	width: 1280px;
	margin: 80px auto 8px;
	padding-top: 280px;
}
.board__img_wrap{
	position: relative;
	margin: 0 auto;
	max-width: max-content;
}
.board__line{
	position: absolute;
	overflow: visible;
}
.board__line_path{
	stroke-width: 3px;
	stroke: #ee9c04;
	fill: none;
}
.board__dot{
	position: absolute;
	width: 40px;
	height: 40px;
	z-index: 1;
	transition: opacity 0.3s ease-in;
	transform: translate(-50%, -50%);
}
.board__dot::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #ffd78d;
	animation: dotAni 1s ease-in-out infinite;
}
.board__dot::after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #ee9c04;
}
@keyframes dotAni {
	0%{
		transform: scale(0);
	}
	45% {
		transform: scale(0.7);
	}
	66% {
		transform: scale(0.6);
	}
	100%{
		transform: scale(1);
		opacity: 0;
	}
}
.board__reference_img{
	display: block;
	width: 752px;
	height: auto;
}
.board__polaroid_wrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.board__polaroid_img{
	--bg_width: 200px;
	position: absolute;
	width: 200px;
	height: 250px;
	background: #ECEEE7 url("../../static/images/poster/img_sprite_polaroid.png") no-repeat;
	background-size: auto 100%;
	box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.11);
	cursor: pointer;
	transition: transform 0.3s ease-in;
}
.board__polaroid_img:nth-child(1){
	background-position-x: 0;
	top: 60px;
	left: 50px;
	transform: rotate(3deg);
}
.board__polaroid_img:nth-child(2){
	background-position-x: calc(var(--bg_width) * -1);
	top: 34px;
	left: 290px;
	transform: rotate(-4deg);
}
.board__polaroid_img:nth-child(3){
	background-position-x: calc(var(--bg_width) * -2);
	top: 25px;
	left: 530px;
	transform: rotate(7deg);
}
.board__polaroid_img:nth-child(4){
	background-position-x: calc(var(--bg_width) * -3);
	top: 59px;
	left: 778px;
	transform: rotate(-4deg);
}
.board__polaroid_img:nth-child(5){
	background-position-x: calc(var(--bg_width) * -4);
	top: 55px;
	left: 1023px;
	transform: rotate(7deg);
}
.board__polaroid_img:nth-child(6){
	background-position-x: calc(var(--bg_width) * -5);
	top: 350px;
	left: 1028px;
	transform: rotate(-5deg);
}
.board__polaroid_img:nth-child(7){
	background-position-x: calc(var(--bg_width) * -6);
	top: 667px;
	left: 1032px;
	transform: rotate(-2deg);
}
.board__polaroid_img:nth-child(8){
	background-position-x: calc(var(--bg_width) * -7);
	top: 353px;
	left: 37px;
	transform: rotate(7deg);
}
.board__polaroid_img:nth-child(9){
	background-position-x: calc(var(--bg_width) * -8);
	top: 650px;
	left: 37px;
	transform: rotate(-6deg);
}
.board__polaroid_img:nth-child(10){
	background-position-x: calc(var(--bg_width) * -9);
	top: 957px;
	left: 91px;
	transform: rotate(7deg);
}
.board__polaroid_img:nth-child(11){
	background-position-x: calc(var(--bg_width) * -10);
	top: 1270px;
	left: 73px;
	transform: rotate(-3deg);
}
.board__polaroid_img:nth-child(12){
	background-position-x: calc(var(--bg_width) * -11);
	top: 952px;
	left: 992px;
	transform: rotate(-4deg);
}
.board__polaroid_img:nth-child(13){
	background-position-x: calc(var(--bg_width) * -12);
	top: 1270px;
	left: 1000px;
	transform: rotate(4deg);
}
.board__arrow{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 120px;
	height: 270px;
	background: url("../../static/images/poster/img_arrow.png") center no-repeat;
	background-size: 100% auto;
	z-index: 1;
}
.final{
	position: relative;
	padding-top: 160px;
	padding-bottom: 120px;
	background-color: #808375;
	overflow: hidden;
}
.final::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(to bottom, #808375, #ffffff00);
	width: 100%;
	height: 40px;
}
.final::before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	background: linear-gradient(to top, #808375, #ffffff00);
	width: 100%;
	height: 40px;
	z-index: 1;
}
.final__photo{
	width: max-content;
	margin: 40px auto 0;
	padding-bottom: 30px;
	background-color: #E4E6D8;
	box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.11);
	z-index: 1;
}
.final__photo_img{
	width: 600px;
	height: auto;
}
.final__photo_btn{
	display: flex;
	justify-content: center;
	align-items: center;
	width: max-content;
	margin: 0 auto;
	padding: 0 8px;
	background: linear-gradient(to top, #d8a04ca4 12px, transparent 12px) bottom left no-repeat;
	background-size: 0 100%;
	font-size: 20px;
	font-weight: 600;
	color: #6b655e;
	cursor: pointer;
	transition: all ease-in 0.3s;
}
.final__photo:hover .final__photo_btn{
	background-size: 100% 100%;
}

@keyframes fading {
	0%{
		opacity: 0;
	}
	30%{
		opacity: 0.9;
	}
	70%{
		opacity: 0.9;
	}
	100%{
		opacity: 0;
	}
}
.final__assets{
	--bgSize: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: var(--bgSize);
	height: var(--bgSize);
	background: url("../../static/images/poster/img_sprite_assets.png") left center no-repeat;
	background-size: auto var(--bgSize);
	filter: drop-shadow(8px 8px 4px #00000011);
	transform: translate(-50%, -50%) scale(0.6);
	opacity: 0;
	pointer-events: none;
}
.final__assets-fadein{
	animation: fading 1s ease-in-out forwards;
}

.footer{
	height: 280px;
	background: #1F201B url("../../static/images/poster/img_gun_silhouette.png") left -20px bottom -40px no-repeat;
	background-size: 680px auto;
}